<h2>Sistema Nacional de Gasoductos</h2>

<hr>

<form action="" [formGroup]="ductoSng">
    <div class="flex-container">
        <mat-accordion class="cg-headers-align">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        DUCTO
                    </mat-panel-title>
                    <mat-panel-description>
                        Elija el Ducto
                        <mat-icon>directions</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-form-field appearance="fill">
                    <mat-label>Ducto</mat-label>
                    <mat-select
                            (selectionChange)="selectedPipe($event)"
                            matInput placeholder="Elija un ducto"
                            formControlName="ducto"
                            value="ducto"
                    >
                        <!-- <mat-option [value]="selected">{{selected}}</mat-option> -->
                        <mat-option *ngFor="let duc of listaDuctos" [value]="duc.ducto">{{duc.ducto}}</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>Tramo 1</mat-label>
                    <input matNativeControl
                        formControlName="tramo1"
                        value="tramo1"
                        readonly
                    >
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>Tramo 2</mat-label>
                    <input matNativeControl
                        formControlName="tramo2"
                        value="tramo2"
                        readonly
                    >
                </mat-form-field>

                <mat-action-row>
                    <button mat-button color="primary" [disabled]="bloquear" (click)="nextStep()">Siguiente</button>
                </mat-action-row>
            </mat-expansion-panel>
            
            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        CVE AU
                    </mat-panel-title>
                    <mat-panel-description>
                        Elija la Clave
                        <mat-icon>more_horiz</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                
                <mat-form-field appearance="fill">
                    <mat-label>Clave - Área Unitaria</mat-label>
                    <mat-select
                            (selectionChange)="selectedCve($event)"
                            matInput placeholder="Elija una clave"
                            formControlName="cve_au"
                            value="cve_au"
                    >
                        <mat-option *ngFor="let cve of listaCve" [value]="cve.cve_au">{{cve.cve_au}} - {{cve.area_unitaria}}</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                    <button mat-button color="primary" (click)="nextStep()">Siguiente</button>
                </mat-action-row>
            </mat-expansion-panel>
            
            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        CVE
                    </mat-panel-title>
                    <mat-panel-description>
                        Información del Kilometraje
                        <mat-icon>360</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                
                <mat-form-field appearance="fill">
                    <mat-label>Origen Km</mat-label>
                    <input matNativeControl
                        formControlName="km_inicial_ddv"
                        value="km_inicial_ddv"
                        readonly
                    >
                </mat-form-field>
                
                <mat-form-field appearance="fill">
                    <mat-label>Destino Km</mat-label>
                    <input matNativeControl
                        formControlName="km_destino_ddv"
                        value="km_destino_ddv"
                        readonly
                    >
                </mat-form-field>
                
                <mat-action-row>
                    <button mat-button color="warn" (click)="prevStep()">Anterior</button>
                    <button mat-button color="primary" (click)="nextStep()">Final</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</form>