<h2>Sistema Nacional de Gasoductos</h2>

<mat-tab-group>
    <mat-tab label="Nombre del Ducto">
        <div class="datos cg-padd">
            <h3>DUCTO</h3>
            <div *ngIf="listDucts.length >= 1">
                    <ul *ngFor="let duct of listDucts">
                        <li>{{ duct.DUCTO }}</li>
                        <!-- <td>
                            <i [routerLink]="['/editar-producto', producto._id]" class="fas fa-edit text-primary"></i>
                            <i (click)="eliminarProducto(producto._id)" class="fas fa-trash text-danger"></i>
                        </td> -->
                    </ul>
            </div>
            <h5 style="text-align: start; margin-top: 10px;" *ngIf="listDucts.length == 0">No hay productos para mostrar</h5>

        </div>
    </mat-tab>
    <mat-tab label="Clave">
        <div class="datos cg-padd">
            <h3>CVE</h3>
            <div *ngIf="listDucts.length > 0">
                    <ul *ngFor="let duct of listDucts">
                        <li>{{ duct.CVE }}</li>
                        <!-- <td>
                            <i [routerLink]="['/editar-producto', producto._id]" class="fas fa-edit text-primary"></i>
                            <i (click)="eliminarProducto(producto._id)" class="fas fa-trash text-danger"></i>
                        </td> -->
                    </ul>
            </div>
            <h5 style="text-align: start; margin-top: 10px;" *ngIf="listDucts.length == 0">No hay productos para mostrar</h5>

        </div>
    </mat-tab>
    <mat-tab label="Área">
        <div class="datos cg-padd">
            <h3>AREA_UNI</h3>
            <div *ngIf="listDucts.length > 0">
                    <ul *ngFor="let duct of listDucts">
                        <li>{{ duct.AREA_UNI }}</li>
                        <!-- <td>
                            <i [routerLink]="['/editar-producto', producto._id]" class="fas fa-edit text-primary"></i>
                            <i (click)="eliminarProducto(producto._id)" class="fas fa-trash text-danger"></i>
                        </td> -->
                    </ul>
            </div>
            <h5 style="text-align: start; margin-top: 10px;" *ngIf="listDucts.length == 0">No hay productos para mostrar</h5>

        </div>
    </mat-tab>
</mat-tab-group>

<!-- <table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

    <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Área Unitaria </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="clave">
        <th mat-header-cell *matHeaderCellDef> Clave </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.clave}} </td>
    </ng-container>

    <ng-container matColumnDef="ducto">
        <th mat-header-cell *matHeaderCellDef> Nombre del Ducto </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.ducto}} </td>
    </ng-container>

    <ng-container matColumnDef="borrar">
        <th mat-header-cell *matHeaderCellDef> ¿Borrar? </th>
        <td mat-cell *matCellDef="let j = index;">
            <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
                Borrar
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table> -->

<!-- <div class="contenedor">

    <mat-form-field>
        <input matInput [(ngModel)]="articuloselect.codigo" type="number" placeholder="Ingrese código">
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="articuloselect.clave" type="text" placeholder="Ingrese la clave">
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="articuloselect.ducto" type="number" placeholder="Ingrese nombre del ducto">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>

</div> -->