<h2>Sistema Naco Hermosillo</h2>

<table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

    <ng-container matColumnDef="codigo">
        <!-- <th mat-header-cell *matHeaderCellDef> Código </th> -->
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="clave">
        <!-- <th mat-header-cell *matHeaderCellDef> Descripción </th> -->
        <th mat-header-cell *matHeaderCellDef> Clave </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.clave}} </td>
    </ng-container>

    <ng-container matColumnDef="ducto">
        <!-- <th mat-header-cell *matHeaderCellDef> Precio </th> -->
        <th mat-header-cell *matHeaderCellDef> Nombre del Ducto </th>
        <td mat-cell *matCellDef="let articulo"> {{articulo.ducto}} </td>
    </ng-container>

    <ng-container matColumnDef="borrar">
        <th mat-header-cell *matHeaderCellDef> ¿Borrar? </th>
        <td mat-cell *matCellDef="let j = index;">
            <button mat-raised-button color="warn" focusable="false" (click)="borrarFila(j)">
                Borrar
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
</table>
<div class="contenedor">

    <mat-form-field>
        <input matInput [(ngModel)]="articuloselect.codigo" type="number" placeholder="Ingrese código">
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="articuloselect.clave" type="text" placeholder="Ingrese la clave">
    </mat-form-field>

    <mat-form-field>
        <input matInput [(ngModel)]="articuloselect.ducto" type="number" placeholder="Ingrese nombre del ducto">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>

</div>