<h2>Identificación, Diseño</h2>
<hr>

<!-- Start Form -->
<form action="" [formGroup]="disenoForm" (ngSubmit)="agregarDiseno()">

    <!-- Start Container -->
    <div class="flex-container">

        <mat-form-field appearance="fill" class="flex-items">
            <mat-label>Clave</mat-label>
            <mat-select
                    (selectionChange)="selectedType($event)"
                    matInput placeholder="Seleccione una clave"
                    formControlName="clave"
                    value="clave"
            >
                <mat-option *ngFor="let item of items" [value]="item.clave">{{item.clave}}</mat-option>
            </mat-select>

            <mat-error *ngIf="disenoForm.get('clave')?.hasError('required') && disenoForm.get('clave')?.touched">
                <span>La clave <strong>es obligatoria</strong></span>
            </mat-error> 
        </mat-form-field>

        <mat-form-field appearance="fill" class="flex-items">
            <mat-label>Área Unitaria</mat-label>
            <mat-select
                    (selectionChange)="selectedType($event)"
                    matInput placeholder="Seleccione el área unitaria"
                    formControlName="area_unitaria"
                    value="area_unitaria"
            >
                <mat-option *ngFor="let item of items" [value]="item.area_unitaria">{{item.area_unitaria}}</mat-option>
            </mat-select>

            <mat-error *ngIf="disenoForm.get('area_unitaria')?.hasError('required') && disenoForm.get('area_unitaria')?.touched">
                <span>El área unitaria <strong>es obligatoria</strong></span>
            </mat-error> 
        </mat-form-field>

        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Origen Km</mat-label>
            <input matNativeControl 
                formControlName="km_inicial_ddv"
                matInput placeholder=""
                value="km_inicial_ddv"
                readonly
            >
        </mat-form-field>

        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Destino Km</mat-label>
            <input
                formControlName="km_destino_ddv"
                matInput placeholder=""
                value="km_destino_ddv"
                readonly
            >
        </mat-form-field>

        <mat-form-field appearance="fill" class="flex-items">
            <mat-label>Tramo</mat-label>
            <mat-select
                    (selectionChange)="selectedType($event)"
                    matInput placeholder="Seleccione un tramo"
                    formControlName="tramo"
                    value="tramo"
            >
                <mat-option *ngFor="let tramo of tramos" [value]="tramo.value">{{tramo.value}}</mat-option>
            </mat-select>

            <mat-error *ngIf="disenoForm.get('tramo')?.hasError('required') && disenoForm.get('tramo')?.touched">
                <span>El tramo <strong>es obligatorio</strong></span>
            </mat-error> 
        </mat-form-field>

        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Origen Coordenadas</mat-label>
            <input
                formControlName="origen_coordenadas"
                matInput placeholder="Ingrese las coordenadas de origen"
            >
        </mat-form-field>
        
        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Destino Coordenadas</mat-label>
            <input
                formControlName="destino_coordenadas"
                matInput placeholder="Ingrese las coordenadas de destino"
            >
        </mat-form-field>
        
        <div class="flex-items">
            <h3 class="text-center">Diseño</h3>
        </div>

        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Longitud</mat-label>
            <input formControlName="longitud" matInput placeholder="Ingrese la longitud" type="text" value="">
        </mat-form-field>
        
        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Diámetro Milímetros</mat-label>
            <input formControlName="diametro_mm" matInput placeholder="Ingrese el diámetro en milímetros" type="text" value="">
        </mat-form-field>

        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Diámetro Pulgadas</mat-label>
            <input formControlName="diametro_inch" matInput placeholder="Ingrese el diámetro en pulgadas" type="text" value="">
        </mat-form-field>
        
        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Espesor de Pared (milímetros)</mat-label>
            <input formControlName="espesor_pared_mm" matInput placeholder="Ingrese el espesor de pared en milímetros" type="text" value="">
        </mat-form-field>

        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Espesor de Pared (pulgadas)</mat-label>
            <input formControlName="espesor_pared_inch" matInput placeholder="Ingrese el espesor de pared en pulgadas" type="text" value="">
        </mat-form-field>
        
        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Especificación de Material</mat-label>
            <input formControlName="especificacion_material" matInput placeholder="Especifique el material" type="text" value="">
        </mat-form-field>

        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Temperatura de Diseño<br>Celsius o Centígrados (°C)</mat-label>
            <input formControlName="temperatura_diseno_c" matInput placeholder="Ingrese temperatura en celsius o centígrados" type="text" value="">
        </mat-form-field>
        
        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Temperatura de Diseño<br>Grados Fahrenheit (°F)</mat-label>
            <input formControlName="temperatura_diseno_f" matInput placeholder="Ingrese temperatura en grados fahrenheit" type="text" value="">
        </mat-form-field>

        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Fecha de Fabricación</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha_fabricacion">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Resistencia a la Tracción</mat-label>
            <input formControlName="resistencia_traccion" matInput placeholder="Ingrese resistencia a la tracción" type="text" value="">
        </mat-form-field>

        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Elemento Máximo del Carbono</mat-label>
            <input formControlName="elemento_maximo_c" matInput placeholder="Ingrese el elemento máximo de carbono" type="text" value="">
        </mat-form-field>
        
        <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()" class="flex-items">
            <mat-label>Límite Elástico</mat-label>
            <input formControlName="limite_elastico" matInput placeholder="Ingrese el límite elástico" type="text" value="">
        </mat-form-field>

        <div class="flex-items">
            <h4>Nota: Para la etapa de construcción con el objetivo...</h4>
        </div>

        <hr class="cg-hr">
        <section class="flex-items">
            <div class="example-button-row">
                <button type="submit"
                        [disabled]="disenoForm.invalid"
                        mat-raised-button color="primary">
                        Guardar
                </button>
            </div>
        </section>
    
    </div>
    <!-- Finish Container -->
    

</form>
<!-- Finish Form -->
